<!doctype html>
<html lang="en">
    <head>
        <title>Tablero Kanban</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            <!-- place navbar here -->
        </header>
        <main   >
            <div class="container">
                <h1 class="text-left mt-4">Tablero Kanban</h1>

                <div class="d-flex mb-4">
                    <input id="new-column-title" type="text" class="form-control mr-2" placeholder="Nuevo título de columna">
                    <button onclick="addColumn()" class="btn btn-primary">Añadir columna</button>
                </div>


                <div id="kanban-board" class="d-flex overflow-auto">
                    <script>
                        document.addEventListener("DOMContentLoaded", function(){
                            fetch('/api/columns')
                            .then(reponse =>{
                                if (!reponse.ok){
                                    throw new Error(`HTTP error! status: ${reponse.status}`)
                                }
                                return reponse.json()
                            }) 
                            .then(columns => {
                                displayColumns(columns);
                            })
                            .catch(error => console.error('Error al cargar columnas:', error));
                        });
                    </script>
                </div>
            </div>

            
        </main>
        <footer>
            <!-- place footer here -->
        </footer>


        <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
       <!--- <script src="{{url_for('static',filename='js/kanban.js')}}"></script>-->
        <script src="{{url_for('static',filename='js/script.js')}}"></script>

    </body>
</html>
